
<div>
  <input type="text" [(ngModel)]="carName" placeholder="Car Name">
</div>
<div>
  <input type="text" [(ngModel)]="carModel" placeholder="Car Model">
</div>
<div>
  <input type="text" [(ngModel)]="carYear" placeholder="Car Year">
</div>
<button (click)="addCar(carName,carModel,carYear)">Add Car</button>

<div>
  <select (change)="onSelectionChange($event)">
    <option *ngFor="let car of cars" [value]="car.id">
      {{ car.name}} - {{ car.model}} - {{ car.year}} 
    </option>
  </select>
  </div>